<!DOCTYPE html>
<html>
<head>
    <title>Crear Participante</title>
</head>
<body>
<!-- Formulario para registrar un participante -->
<h1>Crear Participante</h1>
<form method="post" action="{% url 'guardar-participante' %}">
    {% csrf_token %}
  
    <!-- Campos para el participante -->
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" required><br>
  
    <label for="apellido">Apellido:</label>
    <input type="text" name="apellido" required><br>
  
    <label for="telefono">Teléfono:</label>
    <input type="text" name="telefono" required><br>
  
    <label for="ciudad">Ciudad:</label>
    <input type="text" name="ciudad"><br>
  
    <label for="cedula">Cédula:</label>
    <input type="text" name="cedula" required><br>
  
    <label for="fecha">Fecha de Nacimiento:</label>
    <input type="date" name="fecha" required><br>
  
    <label for="tieneci">¿Tiene Cédula de Identidad?:</label>
    <select name="tieneci" required>
        <option value="1">Sí</option>
        <option value="0">No</option>
    </select><br>
  
    <!-- Botones para guardar el registro -->
    <button type="submit" name="action" value="guardar">Guardar Registro</button>
    <button type="submit" name="action" value="guardar_puntos">Guardar Registro y Registrar Puntos</button>
</form>
  

</body>
</html>